{{if or $.Transfers $.TransfersPending}}
    <h2 class="ui dividing header">
        Transfers
        <div class="sub header">
            {{len $.Transfers}} active &nbsp; {{len $.TransfersPending}} queued
        </div>
    </h2>
{{end}}

{{range $t := $.Transfers}}

    <h3 class="truncate ui top attached header">{{$t.String}}</h3>
    {{if $t.Uploading}}
        <div class="ui attached segment">
            <p>
                Uploading
                {{bytes $t.UploadedBytes}}
                {{if gt $t.SeedRatio 0.0}}
                    {{$percent := percent $t.UploadedBytes $t.TotalSeedSize}}
                    ({{$percent | printf "%.0f"}}%)
                    of
                    {{bytes $t.TotalSeedSize}} ({{$t.SeedRatio | printf "%.1f"}}x)
                {{else}}
                    (unlimited)
                {{end}}
            </p>
        </div>
    {{else if $t.DownloadedBytes}}
        <div class="ui attached segment">
            {{$percent := percent $t.DownloadedBytes $t.TotalSize}}

            <div id="progress-{{$t.ID}}" class="ui blue progress" data-percent="{{$percent | printf "%.0f"}}">
                <div class="bar"></div>
                <div class="label">
                    Downloading {{bytes $t.DownloadedBytes}}
                    ({{$percent | printf "%.0f"}}%)
                        of
                    {{bytes $t.TotalSize}}
                </div>
            </div>
        </div>
    {{end}}

    {{if $t.Uploading}}
        <a href="/viewscreen/transfers/cancel/{{$t.ID}}" class="ui bottom attached basic button" tabindex="0">Done</a>
    {{else}}
        <a href="/viewscreen/transfers/cancel/{{$t.ID}}" data-prompt="Cancel {{$t.String}}?" class="confirm ui bottom attached basic button" tabindex="0">Cancel</a>
    {{end}}

    <script>
        $(document).ready(function() {
            $('#progress-{{$t.ID}}').progress({
                duration: 0,
                showActivity: false
            });
        })
    </script>
    <div class="ui hidden divider"></div>
{{end}}
