.ui.inverted.breadcrumb, .ui.inverted.breadcrumb > a, .ui.inverted.breadcrumb > div {
    color: #f9f9f9;
}

.ui.blue.button, .ui.primary.button {
    background-color: #17a0dd !important;
}

.blue.icon {
    color: #17a0dd !important;
}

.dlscard {
    min-height: 330px !important;
}

.filescard {
    min-height: 330px !important;
}

.notfound {
    max-height: 146px;
}

.breakup {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.thumbnail {
    width: 100%;
    max-width: 320px;
    border-radius: 2px;
}

.navmenu {
    background-color: #17a0dd !important;
    border-radius: 0 !important;
}

.navmenu img {
    max-width: 22px;
}

.screencast {
    max-width: 100%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.video-player {
    width: 100%;
    border-radius: 3px;
}

.block.link {
    display: block;
    color: #4183C4;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0.3em;
}

.block.link:visited, .block.link:hover {
    color: #29537d;
}

.full.height {
    min-height: 100%;
}

.file-size {
    font-size: 1.1em;
    margin-top: 0.3em;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui.positive.message a {
    float: right;
}

/* toggler */
.toggler {}

.hide.toggler {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }

    .nomobile {
        display: none !important;
    }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
        display: none !important;
    }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
        display: none !important;
    }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]:not([class*="large screen"]),
    [class*="tablet only"]:not([class*="large screen"]),
    [class*="computer only"]:not([class*="large screen"]),
    [class*="large screen hidden"],
    [class*="widescreen only"]:not([class*="large screen"]),
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
        display: none !important;
    }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
    [class*="mobile only"]:not([class*="widescreen"]),
    [class*="tablet only"]:not([class*="widescreen"]),
    [class*="computer only"]:not([class*="widescreen"]),
    [class*="large screen only"]:not([class*="widescreen"]),
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
        display: none !important;
    }
}

