<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="referrer" content="origin">
        <link rel="icon" href="/watcher/static/logo.png">
        <link rel="apple-touch-icon" href="/watcher/static/logo.png">

        <title>Watcher</title>

        <link rel="stylesheet" type="text/css" href="/watcher/static/roboto.css">
        <link rel="stylesheet" type="text/css" href="/watcher/static/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/watcher/static/style.css?updated=1245">

        <script src="/watcher/static/jquery.min.js"></script>
        <script src="/watcher/static/script.js"></script>
        <script src="/watcher/static/semantic/semantic.min.js"></script>
    </head>
    <body>

        {{if ne $.Section "nonav"}}
        <div class="navmenu ui small inverted menu">
            {{if $.Backlink}}
                {{if eq $.Section "files" "friends" "import" "view"}}
                    <a class="item" onclick="window.history.go(-1); return false;"><i class="chevron left icon"></i></a>
                {{else}}
                    <a class="item" href="{{.Backlink}}"><i class="chevron left icon"></i></a>
                {{end}}
            {{end}}
            <a class="item" href="/watcher/">
                <img src="/watcher/static/logo.png">
            </a>
            
            <a href="/watcher/" class="{{if eq $.Section "library" "files"}}active{{end}} item">
				Library
            </a>
            <a href="/watcher/import" class="{{if eq $.Section "import"}}active{{end}} item">
				Import
            </a>
            <a href="/watcher/friends" class="{{if eq $.Section "friends"}}active{{end}} item">
				Friends
            </a>

            <div class="right menu">
                <a href="/watcher/settings" class="{{if eq $.Section "settings"}}active{{end}} item">
					<i class="setting icon"></i>
                </a>
            </div>
        </div>
        {{end}}

        {{with $message := $.Request.FormValue "message"}}
            <div class="ui container">
                <div class="ui positive message">
                    {{if eq $message "feedsecretreset"}}
                        <a href="/watcher/"><i class="close icon"></i></a>
                        <div class="header">
                            Success: feed secret reset 
                        </div>
                    {{else if eq $message "transferstarted"}}
                        <a href="/watcher/"><i class="close icon"></i></a>
                        <div class="header">
                            Success: transfer started
                        </div>
                    {{else if eq $message "transfercanceled"}}
                        <a href="/watcher/"><i class="close icon"></i></a>
                        <div class="header">
                            Success: transfer canceled
                        </div>
                    {{else if eq $message "downloadremoved"}}
                        <a href="/watcher/"><i class="close icon"></i></a>
                        <div class="header">
                            Success: download deleted
                        </div>
                    {{else if eq $message "friendstarted"}}
                        <a href="/watcher/friends"><i class="close icon"></i></a>
                        <div class="header">
                            Success: friend download started
                        </div>
                    {{else if eq $message "friendinvalidhost"}}
                        <a href="/watcher/friends"><i class="close icon"></i></a>
                        <div class="header">
                            Error: invalid friend host
                        </div>
                    {{else if eq $message "friendadded"}}
                        <a href="/watcher/friends"><i class="close icon"></i></a>
                        <div class="header">
                            Success: friend added
                        </div>
                    {{else if eq $message "friendremoved"}}
                        <a href="/watcher/friends"><i class="close icon"></i></a>
                        <div class="header">
                            Success: friend deleted
                        </div>
                    {{else if eq $message "settingssaved"}}
                        <a href="/watcher/"><i class="close icon"></i></a>
                        <div class="header">
                            Success: settings saved
                        </div>
                    {{end}}
                </div>
                <div class="ui hidden divider"></div>
            </div>
        {{end}}

        {{with $error := $.Error}}
            <div class="ui container">
                <div class="ui negative icon message">
                    <i class="warning sign icon"></i>
                    <div class="content">
                        <div class="header">{{$error}}</div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
        {{end}}

        {{if ne $.Section "nonav"}}
        <div class="full height">
        {{end}}

