<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="referrer" content="origin">
        <link rel="icon" href="/viewscreen/static/logo.png">
        <link rel="apple-touch-icon" href="/viewscreen/static/logo.png">

        <title>Viewscreen</title>

        <link rel="stylesheet" type="text/css" href="/viewscreen/static/roboto.css">
        <link rel="stylesheet" type="text/css" href="/viewscreen/static/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/viewscreen/static/style.css?updated=890343489">

        <script src="/viewscreen/static/jquery.min.js"></script>
        <script src="/viewscreen/static/script.js"></script>
        <script src="/viewscreen/static/semantic/semantic.min.js"></script>
    </head>
    <body>

        {{if $.Config.Get.AcceptTOS}}
            <div class="navmenu ui inverted small menu">
                {{if $.Backlink}}
                    <a class="item" href="{{.Backlink}}"><i class="large home icon"></i></a>
                {{end}}
                
                <a href="/viewscreen/" class="{{if eq $.Section "library" "files"}}active{{end}} item">Library</a>
                <a href="/viewscreen/import" class="{{if eq $.Section "import"}}active{{end}} item">Import</a>
                <a href="/viewscreen/friends" class="{{if eq $.Section "friends"}}active{{end}} item">Friends</a>
                <a href="/viewscreen/feed" class="{{if eq $.Section "feed"}}active{{end}} item"><i class="tv icon"></i></a>

                <div class="ui right dropdown item">
                    <img src="/viewscreen/static/logo.png">
                    <div class="menu">
                        <a href="/viewscreen/help" class="{{if eq $.Section "help"}}active{{end}} item"><i class="help icon"></i>Help</a>
                        <a href="https://github.com/viewscreen/viewscreen" class="github icon"></i>Free &amp; Open Source</a>
                        <a href="/viewscreen/settings" class="{{if eq $.Section "settings"}}active{{end}} item"><i class="setting icon"></i>Settings</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="ui hidden divider"></div>
        {{end}}

        {{with $message := $.Request.FormValue "message"}}
            <div class="ui container">
                <div class="ui positive message">
                    {{if eq $message "feedsecretreset"}}
                        <a href="/viewscreen/"><i class="close icon"></i></a>
                        <div class="header">Feed secret reset</div>
                    {{else if eq $message "transferstarted"}}
                        <a href="/viewscreen/"><i class="close icon"></i></a>
                        <div class="header">Transfer started</div>
                    {{else if eq $message "transfercanceled"}}
                        <a href="/viewscreen/"><i class="close icon"></i></a>
                        <div class="header">Transfer canceled</div>
                    {{else if eq $message "downloadremoved"}}
                        <a href="/viewscreen/"><i class="close icon"></i></a>
                        <div class="header">Download removed</div>
                    {{else if eq $message "friendstarted"}}
                        <a href="/viewscreen/friends"><i class="close icon"></i></a>
                        <div class="header">Friend download started</div>
                    {{else if eq $message "friendinvalidhost"}}
                        <a href="/viewscreen/friends"><i class="close icon"></i></a>
                        <div class="header">Invalid friend host</div>
                    {{else if eq $message "friendadded"}}
                        <a href="/viewscreen/friends"><i class="close icon"></i></a>
                        <div class="header">Friend added</div>
                    {{else if eq $message "friendremoved"}}
                        <a href="/viewscreen/friends"><i class="close icon"></i></a>
                        <div class="header">Friend removed</div>
                    {{else if eq $message "settingssaved"}}
                        <a href="/viewscreen/"><i class="close icon"></i></a>
                        <div class="header">Settings saved</div>
                    {{else if eq $message "transcoding"}}
                        <a href="/viewscreen/"><i class="close icon"></i></a>
                        <div class="header">Transcoding started (may take hours)</div>
                    {{end}}
                </div>
                <div class="ui hidden divider"></div>
            </div>
        {{end}}

        {{with $error := $.Error}}
            <div class="ui container">
                <div class="ui negative icon message">
                    <i class="warning sign icon"></i>
                    <div class="content">
                        <div class="header">{{$error}}</div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
        {{end}}

        <div class="full height">
