{{template "header.html" .}}

<div class="ui container">
    <div id="transfers">
        {{template "transfers/list.html" .}}
    </div>

    <h2 class="ui dividing header">
        Search
        {{if $.Results}}
        <div class="sub header">
            {{len $.Results}} results
        </div>
        {{end}}
    </h2>

    <div class="ui small text menu">
        <span class="header item">Saved searches</span>
        {{if eq $.Query "2013" "2012" "2011"}}
            <a href="/viewscreen/import?q=2014" class="{{if eq $.Query "2014"}}active{{end}} item">&quot;2014&quot;</a>
            <a href="/viewscreen/import?q=2013" class="{{if eq $.Query "2013"}}active{{end}} item">&quot;2013&quot;</a>
            <a href="/viewscreen/import?q=2012" class="{{if eq $.Query "2012"}}active{{end}} item">&quot;2012&quot;</a>
            <a href="/viewscreen/import?q=2011" class="{{if eq $.Query "2011"}}active{{end}} item">&quot;2011&quot;</a>
            <a href="/viewscreen/import?q=2010" class="{{if eq $.Query "2010"}}active{{end}} item">&quot;2010&quot;</a>
        {{else}}
            <a href="/viewscreen/import?q=2017" class="{{if eq $.Query "2017"}}active{{end}} item">&quot;2017&quot;</a>
            <a href="/viewscreen/import?q=2016" class="{{if eq $.Query "2016"}}active{{end}} item">&quot;2016&quot;</a>
            <a href="/viewscreen/import?q=2015" class="{{if eq $.Query "2015"}}active{{end}} item">&quot;2015&quot;</a>
            <a href="/viewscreen/import?q=2014" class="{{if eq $.Query "2014"}}active{{end}} item">&quot;2014&quot;</a>
            <a href="/viewscreen/import?q=2013" class="{{if eq $.Query "2013"}}active{{end}} item">&quot;2013&quot;</a>
        {{end}}
    </div>
    <div class="ui hidden divider"></div>

    <form class="ui large form" method="GET" action="/viewscreen/import">
        <div class="field">
            <div class="ui action input">
                <input type="text" name="q" value="{{$.Query}}" placeholder="Enter a search query or torrent link" {{if not $.Results}}autofocus="autofocus"{{end}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <button type="submit" class="ui primary button">Search</button>
            </div>
        </div>
    </form>


	{{if $.Query}}
        <!--a href="/viewscreen/import" class="ui right floated button"><i class="delete icon"></i>{{$.Query}}</a-->
        <!--div class="ui hidden clearing divider"></div-->

        {{if $.Results}}
            <table class="ui large striped single line fixed selectable table">
                <tbody>
                {{range $result := $.Results}}
                    {{$dlexists := dlexists $result.Title}}
                    <tr>
                        <td>
                            <i title="seeders: {{$result.Seeders}} leechers: {{$result.Leechers}}" {{if lt $result.Seeders 10}}class="red circle icon"{{else if lt $result.Seeders 20}}class="yellow circle icon"{{else}}class="green circle icon"{{end}}></i>{{$result.Title}}
                        </td>
                        <td>
                            <button class="{{if not $dlexists}}hide{{end}} toggler ui right floated blue button" disabled>Download {{bytes $result.Size}}</button>
                            <button class="{{if $dlexists }}hide{{end}} toggler ui right floated blue button" data-action="/viewscreen/transfers/magnet" data-key="target" data-value="{{$result.Magnet}}">Download {{bytes $result.Size}}</a>
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        {{else}}
            <div class="ui center aligned clearing segment">
                <div class="ui hidden divider"></div>
                <h4 class="ui center aligned grey header">
                    No results for &quot;{{.Query}}&quot;
                </h4>
                <div class="ui hidden divider"></div>
            </div>
        {{end}}
    {{end}}

</div>

<script>
    $(document).ready(function() {
        // Transfers should be polled immediately.
        poller('#transfers', '/viewscreen/transfers/list', 2000);
    });
</script>

{{template "footer.html" .}}

