{{if $.Downloads}}
<h5 class="ui header">
    {{$.DiskInfo.UsedGB}} GB ({{$.DiskInfo.UsedPercent | printf "%.0f"}}%) of {{$.DiskInfo.TotalGB}} GB
</h5>
<table class="ui single line fixed selectable table">
    <tbody>
        {{range $dl := $.Downloads}}
            <tr>
                <td class="twelve wide eight wide mobile">
                    <i class="blue folder icon"></i>
                    <a href="/trickle/downloads/files/{{$dl.ID}}" target="_parent">
                        {{$dl.ID}}
                    </a>
                </td>
                <td class="right aligned two wide four wide mobile">
                    {{bytes $dl.Size}}
                </td>

                <td class="right aligned two wide four wide mobile">
                    <button class="{{if not $dl.Shared}}hide{{end}} toggler ui mini green button" title="Unshare" data-action="/trickle/downloads/unshare/{{$dl.ID}}"><i class="checkmark icon"></i>Shared</button>
                    <button class="{{if $dl.Shared}}hide{{end}} toggler ui mini green inverted button" title="Share" data-action="/trickle/downloads/share/{{$dl.ID}}">Share</button>
                &nbsp;&nbsp;
                <a class="confirm ui basic mini red icon button" data-prompt="Delete download {{$dl.ID}}?" href="/trickle/downloads/remove/{{$dl.ID}}"><i class="trash icon"></i></a>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>
{{else}}

<div class="ui center aligned clearing segment">
    <div class="ui hidden divider"></div>

    <h4 class="ui center aligned grey header">
        There are no downloads yet.
    </h4>

    <div class="ui hidden divider"></div>
</div>
{{end}}
