{{template "header.html" .}}
<style>
    body {
        background-color: #1b1c1d;
    }
</style>

<div class="ui container">
    <h4 class="truncate ui inverted header">
        {{$.File.ID}}
    </h4>
    <div class="ui one column grid">
        <div class="row">
            <div class="column">
                <video controls>
                    <source src="/trickle/downloads/stream/{{$.Download.ID}}/{{$.File.ID}}">
                </video>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui small inverted basic buttons">
                    <a href="/trickle/downloads/save/{{$.Download.ID}}/{{$.File.ID}}" class="ui icon button">
                        <i class="download icon"></i>
                        Download ({{bytes $.File.Info.Size}})
                    </a>
                    <a target="_blank" href="/trickle/downloads/stream/{{$.Download.ID}}/{{$.File.ID}}" class="ui icon button">
                        <i class="external square icon"></i>
                        Pop-out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}

